#top-row {
    background-color: #222;
    width: 100%;
}

body {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
           

#profile {
    border: 10px solid #fff;
    border-bottom: 30px solid #fff;
    float: left;
    margin: 40px 4.4444444% 40px 2.2222222%; /* 40 / 900 */
    min-width: 240px;
    -webkit-transform:rotate(-7deg); /* Safari and Chrome */
        -ms-transform:rotate(-7deg); /* IE 9 */
       -moz-transform:rotate(-7deg); /* Firefox */
         -o-transform:rotate(-7deg); /* Opera */
            transform:rotate(-7deg);
    width: 22.22222222222222%; /* 200 / 90 */
}


#logo {
    margin: 10px 0 2px 2.222222%; /* 40 / 900 */
    min-width: 240px;
    width: 16.66666666666667%; /* 150 / 900 */
}




p.post_date time {
    background: rgb(0, 127, 175); /* The Fallback */
	background-color: rgba(0, 127, 175, 1);
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	-o-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
    margin: 0 0 10px -22px;
    padding: 6px 20px 6px 70px;
    position: relative;
}

p.post_date time:after {
    border-color: #ddd #ddd transparent transparent;
    border-style: solid;
    border-width: 5px 10px;
    content: ' ';
	height: 0;
	left: 0;
    position: absolute;
	top: 100%;
    width: 0;
}






// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 

    #logo {
        margin: 40px 2.222222% 2px 2.222222%; /* 40 / 900 */
        width: 95.555556%; 
    }

    article {
        margin: 0 auto 30px auto;
        width: 100%;
    }

    #profile {
        float: none;
        margin: 0 0 20px 0;
        min-width: 240px;
        -ms-transform:rotate(0deg); /* IE 9 */
        -moz-transform:rotate(0deg); /* Firefox */
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
        -o-transform:rotate(0deg); /* Opera */
        transform:rotate(0deg);
        width: 97.5555556%; /* 200 / 90 */
    }

    .photo img, .photo p, .audio img, .audio p, .audio .player {
        float: none;
        min-width: 200px;
        width: 97.5555556%;
    }

    .photoset img {
        margin: 10px 0 20px 0;
        min-width: 200px;
        width: 97.5555556%;
    }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    #profile {
            margin: 40px 4.4444444% 120px 2.2222222%; /* 40 / 900 */

    }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
    #profile {
        margin: 40px 4.4444444% 240px 2.2222222%; /* 40 / 900 */

    }

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
