body, header#masthead, #top-row {
    width: 100%;
}

body {
    background: url('http://25.media.tumblr.com/9e9d8ef7246117cf0dcdbf0124d5c1d6/tumblr_mjvg86Sowp1s3wjevo6_r1_400.jpg') #000 75px 100px;
    font: 100%/1.5 'Ubuntu', sans-serif; /* 16px */
}

header#masthead {
    background: rgb(0, 0, 0); /* The Fallback */
    background-color: rgba(0,0,0,1);
    overflow: hidden;
}
            
#site_name, p.post_date {
    color: #fff;
}
            
#site_name, #nav {
    margin: 0 auto;
    width: 93.75%; /* 900 / 960 */
}            

#profile {
    border: 10px solid #fff;
    border-bottom: 30px solid #fff;
    float: left;
    margin: 40px 4.4444444% 40px 2.2222222%; /* 40 / 900 */
    min-width: 240px;
    -ms-transform:rotate(-7deg); /* IE 9 */
    -moz-transform:rotate(-7deg); /* Firefox */
    -webkit-transform:rotate(-7deg); /* Safari and Chrome */
    -o-transform:rotate(-7deg); /* Opera */
    transform:rotate(-7deg);
    width: 22.22222222222222%; /* 200 / 90 */
}

#top-row {
    background-color: #222;
}

#logo {
    margin: 10px 0 2px 2.222222%; /* 40 / 900 */
    min-width: 240px;
    width: 16.66666666666667%; /* 150 / 900 */
}

#site_name h1 #description, #site_name a.social_icons img, .photo p, .audio p, .audio .player {
    float: right;
}

#site_name h1 {
    font: 3em 'Berkshire Swash', cursive; /* 48 / 16 */  
    margin: 0 4.4444444% 0 0;  
}

#site_name p {
    line-height: 2;
    margin: 0 4.4444444% 0 0;
}

#site_name p.chrono {
    line-height: 2;
    margin: 0;
    padding: 0 0 10px 0;
}

#site_name a {
    color: #aaa;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

#site_name a:hover {
    color: #fff;
    text-decoration: underline;
}

a.social_icons img, .text h1.title a, .photo h1.title a, .photoset h1.title a, nav#pagination li:first-child a, nav#pagination li:last-child a, ul.tags li a, #site_name a  {
    -moz-transition: all .3s ease-in-out; /* Firefox 4 */
    -webkit-transition: all .3s ease-in-out; /* Safari and Chrome */
    -o-transition: all .3s ease-in-out; /* Opera */
    transition: all .3s ease-in-out;  
}

a.social_icons img {
    margin: 0 4.4444444% 1.1111111% 0; /* 40 / 900 */
    min-width: 50px;
    opacity: 0.3;
    width: 5.555555555555556%; /* 50 / 90 */
}

a.social_icons:hover img {
    opacity: 1;
}

#content {
    background: rgb(194, 194, 194); /* The Fallback */
    background: rgba(194, 194, 194, 1);
    clear: both;
    padding: 2.2222222%;
}

#content p {
    line-height: 1.6;
}

article {
    margin: 0 auto 30px auto;
    width: 80%;
}

p.post_date {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px 1px 1px;
    font: 1.5em 'Berkshire Swash', cursive;
    padding: 20px 0 20px 0;
}

p.post_date time {
    background: rgb(0, 127, 175); /* The Fallback */
	background-color: rgba(0, 127, 175, 1);
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	-o-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
    margin: 0 0 10px -22px;
    padding: 6px 20px 6px 70px;
    position: relative;
}

p.post_date time:after {
    border-color: #ddd #ddd transparent transparent;
    border-style: solid;
    border-width: 5px 10px;
    content: ' ';
	height: 0;
	left: 0;
    position: absolute;
	top: 100%;
    width: 0;
}

p.post_date a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

p.post_date a:hover time {
    background: rgb(34, 34, 34); /* The Fallback */
    background-color: rgba(34, 34, 34, 1);
}

p.post_date a:active time {
    background: rgb(255, 204, 0); /* The Fallback */
    background-color: rgba(255, 204, 0, 1);
}

.text {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
    padding: 0 2% 5% 2%;
    -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

article div:last-of-type {
    border-bottom: 2px solid #999; 
    border-radius: 1px 1px 20px;   
}

.text h1.title a, .photo h1.title a, .photoset h1.title a, p#copyright {
    color: #555; 
}

.text h1.title a {
    font: 1.2em 'Berkshire Swash', cursive; /* 19.2 / 16 */
    text-decoration: none;
   
}

.text h1.title a:hover {
    color: #222;
    font: 1.25em 'Berkshire Swash', cursive; /* 19.2 / 16 */
    text-shadow:  rgb(0,0,0) .15em .15em; /* The Fallback */
    text-shadow:  rgba(0,0,0,0.1) .15em .15em;
}

.photo, .photoset, .audio {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    padding: 2% 2% 5% 2%;
}


.photo .title, .photoset .title, .audio .title {
    font: 1.875em 'Berkshire Swash', cursive; /* 30 / 16 */
    
}

.photo h1.title a, .photoset h1.title a {
    font: 1.2em 'Berkshire Swash', cursive; /* 19.2 / 16 */
    padding: 20px 0 20px 0;
    text-decoration: none; 
}

.photo h1.title a:hover, .photoset h1.title a:hover  {
    color: #222;
    font: 1.25em 'Berkshire Swash', cursive; /* 19.2 / 16 */
    text-shadow:  rgb(0,0,0) .15em .15em; /* The Fallback */
    text-shadow:  rgba(0,0,0,0.1) .15em .15em;
}

.photo img, .audio img {
    float: left;
    min-width: 200px;
    width: 50%;
}

.photo img + p {
    font-size: .90em;
    font-style: italic;
    padding: 0 0 30px 0;
}


.photo p, .audio p, .audio .player {
    display: block;
    min-width: 200px;
    width: 45%;
}

.photo p, .audio p, .audio .player {
    display: block;
    min-width: 200px;
    width: 45%;
}

.photoset img {
    margin: 10px 15% 20px 15%;
    min-width: 200px;
    width: 70%;
}

.photoset p:nth-of-type(2) {
    font-size: .90em;
    font-style: italic;
    margin: 20px 2% 20px 2%;
}

.player, .audio_player {
    border: none !important;
    
}

.audio_player iframe {
    height: 75px;
    margin: 40px 0 40px 0;
    width: 100%;
}

footer.metadata {
    background: transparent;
}

footer {
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 1);
    clear: both;
    padding: 25px 0 25px 0;
}

nav#pagination {
    font: 1.5em 'Berkshire Swash', cursive; /* 32 / 16 */
    min-width: 240px;
    padding: 1%;
    text-align: center;
}

nav#pagination li{
    display: inline;
}

nav#pagination li:first-child a, nav#pagination li:last-child a {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, .5);
    color: #000;
    margin: 2%;
    padding: 0.5% 1.5% 0.5% 1.5%;
    text-decoration: none;
}

nav#pagination li:first-child a {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

nav#pagination li:last-child a{
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;

}

nav#pagination li a:hover {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 1);
}

p#copyright {
    margin: 50px 4.4444444% 20px 0;
    text-align: right;
    width: 93.75%; /* 900 / 960 */
}

article footer.metadata ul.tags li {
    display: inline;
    
}

ul.tags li a {
    color: #777;
    font-weight: normal;
    padding: 1%;
    text-decoration: none;
}

ul.tags li a:hover {
    color: #222;
    font-weight: bold;
    text-decoration: underline;
}




// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 

    #logo {
        margin: 40px 2.222222% 2px 2.222222%; /* 40 / 900 */
        width: 95.555556%; 
    }

    article {
        margin: 0 auto 30px auto;
        width: 100%;

    #profile {
        float: none;
        margin: 0 0 20px 0;
        min-width: 240px;
        -ms-transform:rotate(0deg); /* IE 9 */
        -moz-transform:rotate(0deg); /* Firefox */
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
        -o-transform:rotate(0deg); /* Opera */
        transform:rotate(0deg);
        width: 97.5555556%; /* 200 / 90 */
    }

    .photo img, .photo p, .audio img, .audio p, .audio .player {
        float: none;
        min-width: 200px;
        width: 97.5555556%;
    }

    .photoset img {
        margin: 10px 0 20px 0;
        min-width: 200px;
        width: 97.5555556%;
    }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    #profile {
            margin: 40px 4.4444444% 120px 2.2222222%; /* 40 / 900 */

    }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
    #profile {
        margin: 40px 4.4444444% 240px 2.2222222%; /* 40 / 900 */

    }

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
