html, body {
    background-color: rgba(34,34,34,1);
}

img {
    padding: 1rem 0 0 0 ;
}

.caption {
    font-size: .85rem;
    margin-bottom: 2rem;
}

.top-row {
    background-color: rgba(0,0,0,1);
    padding: 1rem;
    width: 100%;
}

.logo-museum {
    width: 20rem;
    padding: 0;
}

.header--site {
    background: url('http://25.media.tumblr.com/a3667b254114425fdb001dc8c980e35d/tumblr_mk0oxvIClC1s3wjevo1_1280.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50rem;

}

.intro {
    background-color: rgba(255,255,255,.5);
    padding: 1rem 3rem;
    position: absolute;
    bottom: 0;
    width: 45rem;
    right: 1rem;
}

.title {

}

    .title--site {

    }

.about-joe {

}

.chapters {
    background-color: rgba(255,255,255,1);
    padding: 2rem 5rem;
}

.icons--social {
    width: 5rem;
}

#pagination {
    padding-top: 2rem;
}

#pagination li {
    display: inline;
    background-color: hsla(360, 100%, 100%, .7);
    padding: 1.2rem;
    margin: 2rem;
    width: 3rem;
}

#pagination li a {
    color: #000;
    font-size: 1.5rem;
}

#pagination li:hover  {
    background-color: hsla(360, 100%, 100%, 1);
}


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
